<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.


layout:decorator="layout/guestLayout"

-->
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title th:remove="all">Template for HTML email</title>
    </head>
    <body>
        
        <p>Hello, </p>
        
        <p>Please click below link to reset your password <br />
            <a th:href="${resetPwdURL}">Reset Password</a>
        </p>
        
        <p>
            Regards, <br />
            <em>The TiLi Team</em>
        </p>
        
    </body>
</html>
